name: Build EXE

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install pyinstaller pandas requests openpyxl

      - name: Build EXE
        run: |
          pyinstaller --onefile "totalSum.py" --name totalSum

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: totalSum
          path: dist/totalSum.exe
